<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.domipoke.pingpongscoreboard">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/_304494"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/_304494"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Online"
            android:exported="false" />
        <activity
            android:name=".WatchMatch"
            android:exported="false"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".UserPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".History"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DoubleMatch"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SingleMatch"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Menu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="WatchMatch">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="domipoke.github.io"
                    android:pathPrefix="/PingPongScoreboard"
                    android:scheme="https" />
                <data
                    android:host="pingpongscoreboard"
                    android:pathPrefix="/watch"
                    android:scheme="app" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>