body {
    background-color: #cdc;
}
.login-frame {
    --dim: 400px;
    --dim-w: 400px;  
    --dim-h: 500px;  
    --bgcolor: #eee;
    --ppt-table-color: #328586;
    --ppt-net-color: #555;
    --ppt-lines-color: #fff;
    --top-distance: 10%;
    --blur-effect: 0px;
    /*
        dheight / dwidth = height / width
    
        Hblinesdim: dheight / dwidth = x / 152.5 
                  : --ppt-x-y = x / 152.5
                  : --ppt-x-y * 152.5 = x
    */
    --default-table-width: 152.5;
    --default-table-height: 274;
    /*--ppt-x-y: calc(1px * var(--default-table-height) / var(--default-table-width)); */
    --ppt-x-y: calc(274 / 152.5);
    --ppt-dim-w: 800px;
    --ppt-dim-h: calc(var(--ppt-dim-w) / var(--ppt-x-y));
    --central-line: calc((var(--ppt-dim) / var(--ppt-x-y)) - ( var(--Halinesdim) * 2));
    /*--Hblinesdim: calc(var(--ppt-x-y) * var(--default-table-width) * 1px);*/
    --Hblinesdim: 20px;
    --Vblinesdim: 20px;
    /*z-index*/
    --zi-login: 1;
    --zi-tablenet: -2;
    --zi-tablelines: -3;
    --zi-table: -4;
    /**/
    --global-opacity: 1;
    --bgopacity: 0.5;
    /**/
    position: relative;
    top: var(--top-distance);
    left: calc(50% - var(--dim)/2);

    

}
.login-form {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--bgcolor);
    backdrop-filter: blur(var(--blur-effect));
    opacity: var(--bgopacity);
    width: var(--dim-w);
    height: var(--dim-h);
    display: block;
    z-index: var(--zi-login);
}
.login-form-email {
    position: absolute;
    top: 100px;
    left: 50px;
    height: 50px;
    width: 300px;
}
.login-form-email-label {
    content: "Email: ";
    position: absolute;
    display: block;
    top: 50px;
    font-size: 40px;
    left: 50px;
    color: black;
}
.login-form-pwd-label {
    position: absolute;
    top: 150px;
    font-size: 40px;
    left: 50px;
}
.login-form-pwd {
    position: absolute;
    top: 200px;
    left: 50px;
}
.login-form-email, .login-form-pwd {
    height: 50px;
    width: 300px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 36;
}

.login-form-btn {
    position: absolute;
    top: 350px;
    left: 50px;
    height: 50px;
    width: 300px;
}











.login-ppt {
    /*content: "";
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
    width: calc((var(--ppt-dim)) - ( var(--linesdim) * 2));
    height: calc((var(--ppt-dim) / var(--ppt-x-y)) - ( var(--linesdim) * 2));
    background-color: transparent;
    z-index: var(--zi-tablelines);
    opacity: var(--global-opacity);*/
    position: absolute;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
    top:  250px;
    left: -100px;
}
.login-ppt-table {
    position: absolute;
    top: 0;
    left: calc(-1 * var(--dim)/2);
    width: var(--ppt-dim-w);
    height: var(--ppt-dim-h);
    z-index: var(--zi-table);
    background-color: var(--ppt-table-color);
    opacity: var(--global-opacity);
}
.login-ppt-net {
    content: "";
    position: absolute;
    width: 6px;
    height: var(--ppt-dim-h);
    background-color: var(--ppt-net-color);
    top:0;
    left: calc(-1 * var(--dim)/2);
    z-index: var(--zi-tablelines);
    opacity: var(--global-opacity);
    transform: translateX(
        calc( calc( var(--ppt-dim-w) / 2 ) - 3px)
    );
}
.login-ppt-lines-H {
    position: absolute;
    display: block;
    content: var(--Hblinesdim);
    font-size: 110px;

    width:  calc( var(--ppt-dim-w) - ( var(--Hblinesdim) * 2));
    height: calc( var(--ppt-dim-h) - ( var(--Hblinesdim) * 2));
    background-color: transparent;
    top:0;
    left: calc(-1 * var(--dim)/2);
    z-index: var(--zi-tablelines);
    border: var(--Hblinesdim) solid var(--ppt-lines-color);
    opacity: var(--global-opacity);
}
.login-ppt-lines-V {
    content: "";
    display: block;
    position: absolute;
    transform: 
        translateX( 0px )
        translateY( calc( calc( var(--ppt-dim-h) / 2 ) - 4.5px) )
        translateZ( 0px );
    width: calc( var( --ppt-dim-w ) );
    height: 9px;
    background-color: var(--ppt-lines-color);
    top:0;
    left: calc(-1 * var(--dim)/2);
    z-index: var(--zi-tablelines);
    opacity: var(--global-opacity);
}

/*body {background-color: blue;}/**/